@import "./mixins";


body {
    font-size: 16px;
    font-family: "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    padding:0;
    margin:0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:#333333;
}

ul, li, p, section, footer, table, tbody, tfooter {
margin: 0; padding:0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.link{
  margin-top:10px;
  a {
    padding:5px 3px;text-decoration: none;
    background-color: #efefef;
    &:hover {
      border-bottom: 1px solid #666666;
    }
  }
}

.view-container {
  .displayFlex;
  .alignCenter;
  .flexDirection(column);
  section.content {
    width:100%;
    .displayFlex;
    .alignCenter;
    .flexDirection(column);
    & > ul > li {
    }
  }
}
