@import "./mixins";
* {
  box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    padding:0;
    margin:0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:#333333;
}

ul, li, p, section, footer, table, tbody, tfooter {
margin: 0; padding:0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.link{
  margin-top:10px;
}

button, a {
  cursor: pointer;
}

a {
  position: relative;
  outline: none;
  color: inherit;
  text-decoration: none;
  font-weight: 400;
  padding: 8px 0;
  .transition();

  &::after {
    position: absolute;
    top:  calc(~"100% - 7px");
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(231, 76, 60,0.8);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
  }
  &:hover, &:focus {
    color:rgba(231, 76, 60,1.0);
    &::after {
      opacity: 1;
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
}




.view-container {
  .displayFlex;
  .alignCenter;
  .flexDirection(column);
  section.content {
    width:100%;
    .displayFlex;
    .alignCenter;
    .flexDirection(column);
    & > ul > li {
    }
  }
}
