@import "./mixins";

.project {
  .flex;
  .flexDirection(column);
  width: 100vw;
  .line {
    border-top:1px solid #ddd;
    margin-bottom:1em;
    margin-top:1em;
  }
  .project-details {
    max-width: 1024px;
    width: 100%;
    .displayFlex;
    .flexDirection(row);
    padding:30px;
  }
  .text {
    .flexRatio(0.6);
    .displayFlex;
    .flexDirection(column);
    padding:0 10px;
    .top {
      .flex1;
    }
    .title-date {
      .displayFlex;
      .flexDirection(row);
    }
    .title, .description, .date {
      font-family: 'Open Sans';
      letter-spacing: -0.02em;
      font-size: 1.3em;
      line-height: 1.2em;
      color:#333333;
      font-weight: 200;
    }
    .story {
      margin-top:1.5em;
      color: #333333;
      letter-spacing: 0.01em;
      line-height: 1.7em;
    }
    .title {
      font-family: 'Montserrat';
      font-weight:200;
      color:#555555;
    }
    .date {
      .flex1;
      font-size: 0.9em;
      color:#666666;
      margin-left:1.2em;
      margin-top: auto;
    }
    .description {
      font-size: 0.9em;
      letter-spacing: initial;
      color:#666666;
      margin:0.75em 0;
    }
    .links {
      margin-top:30px;
      .displayFlex;
      .flexDirection(column);
      .ios {
        position: relative;
        left:-4px;
      }
      .iosIcon {
        position: relative;
        top:-3px;
      }
    }
    ul {
      margin-top:25px;
      margin-bottom: 15px;
        li {
        border-bottom: initial;
        display: inline-block;
        margin-right:12px;
        font-size: 0.9em;
        font-family: 'Montserrat';
        color:#666666;
      }
    }

  }
  .img {
    .flex;
    .alignCenter;
    margin-top:50px;
    img {
      max-width: 350px;
    }
  }

  // @media only screen and (max-width:799px) {
    .line {
      width:75vw;
    }
    .project-details {
      .flexDirection(column);
    }
    .description {
      margin-bottom: 0.5em;
    }
    // .links {
    //   .flex;
    // }
    ul {
      margin-top: 15px;
    }
  // }

  // @media only screen and (min-width: 351px) and (max-width:799px) {
  //   .img {
  //     .displayFlex;
  //     .justifyCenter;
  //   }
  // }
  //
  // @media only screen and (max-width:350px) {
  //   .img {
  //     display: block;
  //     img {
  //       max-width:100%;
  //     }
  //   }
  // }
  //
  // @media only screen and (min-width:800px) {
  //   .line {
  //     width:65vw;
  //   }
  // }
}
